/* reset */
* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    text-align: center;
    cursor: url(rusty-brown.cur), pointer;
    transition: all 0.15s;
    font-family: "Metal Mania", system-ui;
    font-weight: normal;
    letter-spacing: 0.125rem;
    color: var(--brown);
    overflow: hidden;
}


p {
    font-size: 2rem;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    font-size: 1.25rem;
}

/* color scheme */

:root {
    --gray: hsl(116, 8%, 50%);
    --disabled-green: hsl(116, 5%, 17%);
    --green: hsl(116, 19%, 10%);
    --green-a: hsla(116, 19%, 10%, 0.7);
    --brown: hsl(24, 27%, 61%);
    --border-brown: hsl(24, 15%, 10%);
    --dark-teal: hsl(178, 26%, 21%);
    --dark-teal-a: hsla(178, 26%, 21%, 0.3);
}

/* intro screen */

#intro {
    min-height: 100vh;
    background-image: url("pics/welcome.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-info-box {
    padding: 5% 10%;
    background-color: var(--dark-teal-a);
    border-radius: 10rem;
    box-shadow: 0 0 10rem 10rem var(--dark-teal-a);
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

#intro-choice {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

#intro-choice button {
    font-size: 4rem;
    font-weight: normal;
    margin: 1rem 5rem;
    letter-spacing: 0.5rem;
}

#intro-choice button:hover {
    transform: scale(1.2);
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}

#intro-choice button:active {
    transform: scale(0.9);
}

/* background of game main screen */
#game {
    display: none;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("pics/welcome.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;  
}

#game-container {
    height: 100vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#shop {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    padding: 0.5rem;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    color: var(--brown);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 0;
    /* background-color: var(--green-a); */
}

#shop-items {
    background-color: var(--green-a);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.item {
    display: flex;
    margin: 0.25rem 0 0;
    align-items: center;
    border: 5px inset var(--green);
}

#shop h3 {
    margin-bottom: 0.25rem;
    border: 5px inset var(--green);
}

.item img {
    display: block;
    height: 7rem;
    min-width: 7rem;
    border: 5px outset var(--green);
}

.item-description {
    /* width: 70%; */
    margin-left: 0.5rem;
}

.item-description h4 {
    color: var(--brown);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.item p {
    color: var(--brown);
    font-size: 1.25rem;
    text-align: left;
    margin-top: 0.25rem;
}

p.ab {
    text-align: center;
    margin-top: 0;
}


.item button {
    display: block;
    margin-left: auto;
    color: var(--brown);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    margin-right: 1rem;
    border: 5px outset var(--green);
}

.item button:active {
    border: 5px inset var(--green);
}

.item button:disabled {
    color: var(--gray);
    border: 5px outset var(--disabled-green);
    background-color: var(--disabled-green);
}

.ab {
    display: none;
}

/* battlefield section */

#battlefield {
    width: 20%;
    margin: 0 5%;
    background-color: var(--green-a);
    padding: 0.5rem;
}

#battlefield h3 {
    border: 0.5rem inset var(--green);
    margin-bottom: 0.5rem;
}

#enemy-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--green-a); */
    border: 0.5rem inset var(--green);
}

#enemy-choice button {
    background-color: var(--green);
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    border: 0.5rem outset var(--green);
    text-transform: uppercase;
    color: var(--brown);
    font-size: 1.25rem;
}

#enemy-choice button:active {
    border: 0.5rem inset var(--green);
}

#chosen-enemy-box {
    display: none;
}

#atk-btn {
    display: none;
    padding: 1rem 2rem;
    background-color: var(--green);
    border: 0.5rem outset var(--green);
    margin: 1rem auto;
    color: var(--brown);
    text-transform: uppercase;
    font-size: 1.25rem;
    cursor: url(sword.cur), pointer;
}

#atk-btn:active {
    border: 0.5rem inset var(--green); 
}

/* chosen enemy screen */

#battlefield img {
    width: 100%;
    height: auto;
    cursor: url(sword.cur), pointer;
    display: block;
    border: 2px solid var(--green);
}

#chosen-enemy {
    position: relative;
}

#flash::before {
    content: "";
    position: absolute;
    inset: 0;
    background: red;
    opacity: 0.2;
    pointer-events: none;
    margin: 5rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 3rem 5rem rgba(255, 0, 0, 1);
    display: block;
}
#info-field {
    height: 15rem;
    align-content: center;
}

#reset-btn {
    display: none;
    color: var(--brown);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    border: 5px outset var(--green);
    justify-self: center;
}

#reset-btn:active {
    border: 5px inset var(--green);
}

#ogre-health-bar {
    width: 100%;
    height: 1rem;
    background-color: var(--brown);
}

#ogre-health-fill {
    width: 100%;
    height: 1rem;
    background-color: rgb(129, 20, 20);
}

#info-space {
    border: 0.5rem inset var(--green);
    color: var(--brown);
    height: 20rem;
    /* align-content: center; */
    margin-top: 0.5rem;
    padding: 0 1rem;
}

#miss {
    position: absolute;
    top: 20%;
    justify-self: center;
    align-self: center;
    display: none;
    color: var(--brown);
    text-transform: uppercase;
}

/* player section */

#player-info {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    color: var(--brown);
}

#player-box {
    align-content: center;
    width: 100%;
}

#player-info img {
    width: 100%;
    height: auto;
    display: block;
    justify-self: center;
    border: 2px solid var(--green);
}

#player-pic, #ogre-img-box {
    border: 0.5rem inset var(--green);
}

#player-pic-padding {
    background-color: var(--green-a);
    padding: 0.5rem 0.5rem 0 0.5rem;
}

#player-health-bar {
    width: 100%;
    height: 1rem;
    background-color: var(--brown);
}

#hb-player-border, #hb-ogre-border {
   border: 2px solid var(--green);
   border-top: none;
}

#player-health-fill {
    width: 100%;
    height: 1rem;
    background-color: rgb(129, 20, 20);
}

#player-stats {
    padding: 0.5rem;
    background-color: var(--green-a);
}

#player-stats h3 {
    border: 0.5rem inset var(--green);
}

.ind-stats {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--green-a); */
    border: 0.5rem inset var(--green);
    padding: 0.5rem;
}

#player-armor-set {
    background-color: aqua;
    margin: 1rem;
}

.center {
    justify-content: center;
}

/* tisu zone */

#tisu {
    display: block;
}

#tisu p {
    padding-top: 8rem;
    font-size: 5rem;
    text-shadow: 0 0 1rem var(--dark-teal);
}

#tisu-img-block {
    display: flex;
    justify-content: center;
}

#tisu img {
    display: block;
    width: 20%;
    border: 0.5rem outset var(--green);
    margin: 5rem 7rem;
}

#tisu img:hover {
    box-shadow: 0 0 0.5rem 0.25rem var(--brown);
    transform: scale(1.05);
}

#tisu img:active {
    transform: scale(0.95);
}

#ushur {
    display: none;
}

#ushur-t {
    padding: 35vh 10% 0;
    font-size: 5rem;
    color: var(--brown);
    text-shadow: 0 0 1rem var(--dark-teal);
}

#ushur button {
    font-size: 3rem;
    margin: 3rem 3rem;
}

#ushur button:hover {
    transform: scale(1.15);
}

#ushur button:active {
    transform: scale(0.95);
}

/* test zone */
/* #intro {
    display: none;
}

#game {
    display: block;
}

#game-container {
    display: flex;
}

#tisu {
    display: none;
}

#ushur {
    display: none;
} */